<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <style>
        .mine {
             transform: scale(0.30);
        }
        section {
            display: flex;
            flex-direction: column wrap;
            align-items: center;
            margin-top: 10em;
            height: 30em;
            width: 30%;
        }
    </style>
    <body>
        <%- include('./partials/navbar.ejs') %>
   





        
        <footer>
            <!-- <img src="/img/b/arrier.png" class="barrier"> -->
            <% if (sessionUser) { %>
                <img src="/img/cactus.png" class="cactus"
            <% } else { %>
                <img src="/img/mine.png" class="mine">
                <% } %>

            <!-- <img src="/img/barrier.png" class="barrier"> -->
        </footer>
        <%- include('./partials/alerts.ejs') %>
    </body>
</html>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script>

    let pageHeight = $(document).height().toFixed()
    let pageWidth = $(document).height().toFixed()

    // body {
    $('body')
    .css('overflow', 'hidden')
    .css("display", "flex")
    .css('flex-flow', 'column wrap')
    .css('align-items', 'center')
    .css('justify-content', 'flex-end')
    .css('height', '100%')
    .css('width','100%')
    .css('background-color', 'rgb(62, 50, 32)')

    /* background-color: rgb(46, 38, 25); back up black*/
    /* border: 5px solid rgb(247, 208, 36); */
    /* background-color: rgb(247, 208, 36); */
// }


    // $('.unlit').css('height', '200px')
    // $('.unlit').css('width', '350px')

    // $('.lit').css('height', '200px')
    // $('.lit').css('width', '350px')
    $('footer')
    .css('margin-top', '10em');

    $('.goldbar')
    .css('height', '85px')
    .css('width', '85px')

    let mine = $('.mine')
    mine
    .addClass('mine')
    .css('margin-top', '-4.4em')

    signuptxt = $('#smoketxtsignup')
    logintxt = $('#smoketxtlogin')

    let p = $('p')
    p
    .css('font-family', 'chalkduster')
    .css('margin', '0em 8em 2em 8em')
    // .css('margin-left', '8em')
    // .css('margin-right', '8em')
    .css('box-shadow', '7px 1px 3px gray')
    // let optionInput = document.createElement('input')
    // optionInput

        
    // MINI SNAKE GAME WITH MINE CART! this idea was an accident but it's totally theme-friendly and distracts a bit from the fact that this is technically a cannabis app which I would not have wanted to be done as my first app after a pokedex.
     let mineCartTracks = document.createElement('div')
     const tracks = $(mineCartTracks).addClass('tracks')
     tracks
      .css('width',  pageWidth*0.9)
      .css('height', pageHeight*0.1)
     .css('width',  '300px')                  
    //  if it was for the db.parents guess the child from the parents game and the correctly used associations.. I wouldn't be so willing to just set 300px values for containers. 
     .css('height', '300px')
     .css('background-color','papayawhip')
     .css('','')
     $('footer').append(tracks)
    console.log('tracks')
    console.log(tracks)

     let cartForTracks = document.createElement('img')             
     let cart = $(cartForTracks)
     cart
     .css('position', 'relative')
     .css('height', '35px')
     .css('width', '35px')
     .attr('src', '/img/mining-cart.png')
     $(tracks).append(cart)

     $(document).on('keydown', () => {
         console.log("now we gotcha")
         if (event.key == 'd') {
             cart
             .animate({
                 left: '+5px'
             }, "1000", () => {
                 $(document).on('keydown', () => {
                     cart
                     .animate({
                         left: '+5px'
                     })
                 })
                  $(document).unbind('keydown')
                  $(document).bind('keydown')
             })
         }

         if (event.key == 'a') {
             cart
             .animate({
                 right: '5px'
             }, "1000", () => {
                  $(document).unbind('keydown')
                  $(document).bind('keydown')
             })
         }
          if (event.key === 'd') {
           if (event.key === '39') {
              cart
              .animate({
                  left: 'left + 5px'
              }, "1000", () =>{
                  $(document).unbind('keydown')
                  $(document).bind('keydown')
              })
          }
        }})



</script>
