<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <style>
        .mine {
             transform: scale(0.30);
        }
        section {
            display: flex;
            flex-direction: column wrap;
            align-items: center;
            margin-top: 10em;
            height: 30em;
            width: 30%;
        }
        .shrink {
            margin-top: 10%;
            /* transform: scale(0.8); */
            transform: scale(0.4);
            /* transform: scale(0.) */
        }
    </style>
    <body>
        <%- include('./partials/navbar.ejs') %>
   

        <!-- const { createCanvas, loadImage } = require('canvas')
        const canvas = createCanvas(200, 200)
        const ctx = canvas.getContext('2d')
        
        // Write "Awesome!"
        ctx.font = '30px Impact'
        ctx.rotate(0.1)
        ctx.fillText('Awesome!', 50, 100)
        
        // Draw line under text
        var text = ctx.measureText('Awesome!')
        ctx.strokeStyle = 'rgba(0,0,0,0.5)'
        ctx.beginPath()
        ctx.lineTo(50, 102)
        ctx.lineTo(50 + text.width, 102)
        ctx.stroke()
        
        // Draw cat with lime helmet
        loadImage('examples/images/lime-cat.jpg').then((image) => {
          ctx.drawImage(image, 50, 0, 70, 70)
        
          console.log('<img src="' + canvas.toDataURL() + '" />')
        }) -->

      
<!-- 
        const newCanvas = $('#canvas')
        const ctx = canvas.getContext('2d') 
    
        console.log(newCanvas)
        ctx.fillStyle = 'papayawhip' -->
    


            <div class="canvasContainer">
                <canvas id="minecanvas" height="400" width="400"> </canvas>
            </div>


            <!-- < % if (canvas) { %>             -->
                <!-- < % if (canvas.getContext) { %> -->
                    <!-- < % console.log("hey there is the canvas context") %> -->
                <!-- < % } %> -->
                <!-- < % const mineCanvas = canvas.createCanvas %> -->
                <!-- < % %> -->
                <!-- < % %> -->
                <!-- < % %> -->
                <!-- < % } else { %> -->
                    <!-- < % console.log("there is not the canvas") %> -->
                    <!-- < % } %> -->


         
            
                 <footer>
                <% if (sessionUser) { %>
                    <img src="/img/barrier.png" class="barrier">
                    <img src="/img/mine.png" class="mine">
                    <img src="/img/barrier.png" class="barrier">
                    <% } else { %>
                        <img src="/img/cactus.png" class="cactus"
                        <% } %>
                        <%- include('./partials/alerts.ejs') %>
                    </footer>
                    
    </body>

              <!-- const canvas = document.getElementById('canvas');
            const ctx = canvas.getContext('2d');
            
            ctx.fillStyle = 'green';
            ctx.fillRect(10, 10, 150, 100); -->


           

                  <!-- < % const newCanvas = document.getElementById('#canvas') %>    -->
                  <!-- < % const ctx = canvas.getContext('2d') %>    -->
                  <!-- < % ctx.fillStyle = 'green' %>    -->
                  <!-- < % ctx.fillRect(10, 10, 140, 100) %>    -->
                 
                 <% %>  



</html>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script>
    /*
const game = document.querySelector('#game');

            // Syncing up the canvas's internal height and width to its apparent height and width:
            const computedStyle = getComputedStyle(game);
            const height = computedStyle.height;
            const width = computedStyle.width;
            game.height = parseInt(height);
            game.width = parseInt(width);
*/
$('body')
    .css('overflow', 'hidden')
    .css("display", "flex")
    .css('flex-flow', 'column wrap')
    .css('align-items', 'center')
    .css('justify-content', 'flex-end')
    .css('height', '100%')
    .css('width','100%')
    .css('background-color', 'rgb(62, 50, 32)')



    // newCanvas
    // .css('border', '5px solid pink')



    let pageHeight = $(document).height().toFixed()
    let pageWidth = $(document).height().toFixed()

    
    barrier = $(".barier")
    barrier

    let footer = $('footer')
    footer
    .css('margin-top', '10em');
    // footer.children().forEach( (footerElement) => {         // tried footer first also tried .children()...
    //     footerElement.addClass('shrink')
    // })

    // fun to do this.

    // loopAndShrink(footer)                // leaving here for anyone who wants to see the equivalent of doing it another way. Have to force coding habit to
    // for (let i = 0; i < footer.length; i++) {
    //     console.log(footer[i])
    //     $(footer[i]).addClass("shrink")     // :]
    // }

    $('.goldbar')
    .css('height', '85px')
    .css('width', '85px')

    let mine = $('.mine')
    mine
    .addClass('mine')
    .css('margin-top', '-4.4em')

    signuptxt = $('#smoketxtsignup')
    logintxt = $('#smoketxtlogin')

    let p = $('p')
    p
    .css('font-family', 'chalkduster')
    .css('margin', '0em 8em 2em 8em')
    // .css('margin-left', '8em')
    // .css('margin-right', '8em')
    .css('box-shadow', '7px 1px 3px gray')
    // let optionInput = document.createElement('input')
    // optionInput


    // * THIS * IS * CODE * FOR * THE * M       I       N       E       *******                 G       A       M       E               **********                  ********                    *********
     

    function draw() {
      const minecanvas = document.getElementById('minecanvas');
      if (minecanvas.getContext) {
        const ctx = minecanvas.getContext('2d');


        console.log('how are you even figuring this out right now')
        // ctx.fillStyle = 'rgb(200, 0, 0)';
        // ctx.fillRect(10, 10, 50, 50);

        // const drawcanvas = () => {
            ctx.fillStyle = 'rgba(0, 0, 200, 0.5)';
            ctx.fillStyle = 'papayawhip';
            ctx.fillRect(30, 30, 500, 500);
            ctx.fillRect(30, 30, 50, 50);
            ctx.stroke()
        // }
            const mineimg = new Image()
            mineimg.src = 'img/mining-cart.png'     // looks like a bag of popcorn a bit... thinking this .icon over.
            mineimg.style.height = '40px'
            mineimg.style.width = '40px'

            console.log('mineImg')
            console.log(mineimg)

            mineimg.onload = () => {
                ctx.drawImage(mineimg, 40, 100, mineimg.width/10, mineimg.height/10)
                // context.drawImage(image, 0, 0, image.width*2, image.height * 2);
                ctx.beginPath()

            }
        // drawcanvas()




        // minecanvas.loadImage('public/img/mining-cart.png').then(img => {
        //     ctx.drawImage(image, 30, 30, 70, 70)
        //     ctx.stroke()
        // })

        // ctx.stroke();
  }
// }
        // canvas.loadImage('public/img/mining-cart.png').then(img => {
        //     context.drawImage(image, 30, 30, 70, 70)
        //     // const buffer = canvas.toBuffer('')
        // })           
    }
    draw()

//     loadImage('./logo.png').then(image => {
//   context.drawImage(image, 340, 515, 70, 70)
//   const buffer = canvas.toBuffer('image/png')
//   fs.writeFileSync('./test.png', buffer)
// })


    console.log('mineCanvas')       // cant access the mineCanvas down here. NO DOM. We have to append the canvas and give it a class and it will be targetable. 
    // console.log(mineCanvas) 



    
     const loopAndShrink = (elem) => {                   
        let i = 0;
        length = elem.length
        for (i; i < length; i++) {
            console.log('atleast were over here')
            $(elem[i]).addClass('shrink')
        }
    }
    loopAndShrink(footer)
    
    let map = []
    let down = []

    const up = (jqObj) => {
        jqObj
        .animate({ left: '+5px'})
    }


    // $(document).on('keydown', 'body', cart, (e) => {
    $(document).on('keydown', 'body', (e) => {
        if (!map[e.which]) {
            console.log('hey')
            console.log(`here is the e.which ${e.which}`)
            down.push(e.which)
            // if (e.key === 'd') {
                if (down[0] == '68') {
                    console.log("lets see")
                    up(cart)
                    down = [] // wow didn't realize this is shorter code for: down.splice(0, ))
                    // cart
                }
            }
        })

                    // .animate({
                    //     left: '+5px'
                    // }, "1000", () => {
                    //     // $(document).unbind()
                    //     // $(document).bind()
                    // })





     $(document).on('key', () => {
         console.log("now we gotcha")
         if (event.key == 'd') {
             cart
             .animate({
                 left: '+5px'
             }, "1000", () => {
                 $(document).on('keydown', () => {
                     cart
                     .animate({
                         left: '+5px'
                     })
                 })
                  $(document).unbind('keydown')
                  $(document).bind('keydown')
             })
         } else if (event.key == 'a') {
             cart
             .animate({
                 right: '5px'
             }, "1000", () => {
                  $(document).unbind('keydown')
                  $(document).bind('keydown')
             })
         }
          if (event.key === 'd') {
           if (event.key === '39') {
              cart
              .animate({
                  left: 'left + 5px'
              }, "1000", () =>{
                  $(document).unbind('keydown')
                  $(document).bind('keydown')
              })
          }
        }})



</script>
